<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ngopi Lur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="css/aboutUs.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-logo">Ngopi<span>Lur</span></a>

      <div class="navbar-ext">
        <a href="#" id="search"><i data-feather="search"></i></a>
        <a href="#" id="shopping-bag"><i data-feather="shopping-bag"></i></a>
      </div>
    </nav>

    <button onclick="goToPage()" class="aboutbtn">Back</button>

    <section id="about" class="about">
      <h2>About<span>Us</span></h2>

      <div class="row">
        <div class="about-img">
          <img src="img/about.jpg" alt="About Us" />
        </div>
        <div class="content">
          <h3>Apa itu NgopiLur?</h3>
          <p>
            NgopiLur adalah tempat bersantai yang menawarkan kopi pilihan dan
            suasana hangat untuk menikmati momen santai bersama teman.
          </p>
          <p>
            kafe yang memanjakan pecinta kopi dengan suasana cozy dan beragam
            pilihan kopi berkualitas tinggi.
          </p>
        </div>
      </div>
    </section>

    <section id="foto" class="foto">
        <h2>Tempat<span>Kami</span></h2>
        <div class="row">
            <img src="img/about/1.jpg" alt="About Us" />
            <img src="img/about/2.jpg" alt="About Us" />     
            <img src="img/about/3.jpg" alt="About Us" />       
            <img src="img/about/4.jpg" alt="About Us" />    
            <img src="img/about/5.jpg" alt="About Us" />   
            <img src="img/about/6.jpg" alt="About Us" />   
            <img src="img/about/7.jpg" alt="About Us" />   
            <img src="img/about/8.jpg" alt="About Us" />    
        </div>
    </section>
    
    <!--Footer-->
    <footer>
      <div class="social">
        <!--Instagram-->
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <!--Tiktok-->
        <a href="#">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <!--WhatsApp-->
        <a href="#">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>

      <div class="credit">
        <p>Created by <a href="#">PaguyubanTeam</a>. | &copy; 2024.</p>
      </div>
    </footer>
    <script>
      feather.replace();
    </script>

    <script src="js/about.js"></script>
  </body>
</html>
