<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ngopi Lur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="css/contactUs.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-logo">Ngopi<span>Lur</span></a>

      <div class="navbar-nav">
        <a href="/home">Home</a>

        <a href="/aboutUs">About Us</a>

        <a href="/menu">Menu</a>

        <a href="/home">Contact</a>

        <a href="/events">Event</a>
      </div>

      <div class="navbar-ext">
        <a href="#" id="shopping-bag"><i data-feather="shopping-bagg"></i></a>
      </div>
    </nav>

    <!--Contact-->
    <section id="contact" class="contact">
        <h2>Contact<span>Us</span></h2>
        <p>
          Silahkan Hubungi Kami
        </p>
  
        <div class="row">
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.7744128624302!2d106.78539742681176!3d-6.176464412973509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f7f1273fb361%3A0x58f910afe87a377d!2sKost%20Tanjung%20Duren%20Gazebo%20House!5e0!3m2!1sen!2sid!4v1712241765801!5m2!1sen!2sid"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
  
          <form action="/contactUs" method="post">
            <!--Nama-->
            <div class="input-group">
              <i data-feather="user"></i>
              <input type="text" name="namaPengirim" placeholder="nama" />
            </div>
            <!--Email-->
            <div class="input-group">
              <i data-feather="mail"></i>
              <input type="text" name="emailPengirim" placeholder="email" />
            </div>
            <!--Phone-->
            <div class="input-group">
              <i data-feather="send"></i>
              <input type="text" name="pesanPengirim" placeholder="Pesan" />
            </div>
            <!--Submit-->
            <button class="btn">Submit</button>
          </form>
        </div>
      </section>
    
    <!--Footer-->
    <footer>
      <div class="social">
          <!--Instagram-->
          <a href="https://www.instagram.com">
              <i class="fa-brands fa-instagram"></i>
          </a>
          <!--Tiktok-->
          <a href="https://www.tiktok.com">
              <i class="fa-brands fa-tiktok"></i>
          </a>
          <!--WhatsApp-->
          <a href="https://wa.me">
              <i class="fa-brands fa-whatsapp"></i>
          </a>
      </div>
      <div class="credit">
          <p>Created by <a href="#">PaguyubanTeam</a>. | &copy; 2024.</p>
      </div>
  </footer>
    <script>
      feather.replace();
    </script>
  </body>
</html>
