<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngopi Lur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="css/event.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-logo">Ngopi<span>Lur</span></a>
  
        <div class="navbar-nav">
          <a href="/home">Home</a>
  
          <a href="/aboutUs">About Us</a>
  
          <a href="/menu">Menu</a>
  
          <a href="/contactUs">Contact</a>
  
          <a href="/events">Event</a>
        </div>
  
        <div class="navbar-ext">
          <a href="#" id="search"><i data-feather="search"></i></a>
          <a href="#" id="shopping-bag"><i data-feather="shopping-bag"></i></a>
        </div>
      </nav>

        <section id="event" class="event">
          <div class="atas">
            <h2>Event</h2>
            <p> Daftar Event Di Ngopi Lur</p>
          </div>
            <div class="row">
                <div class="event-card">
                    <img src="img/event/tulus.jpg" alt="event">
                </div>
                  <div class="content">
                    <h3>Tulus</h3>
                    <p>Tulus adalah salah satu penyanyi dan penulis lagu terkemuka di Indonesia yang terkenal dengan suara merdunya dan lagu-lagu yang penuh makna.</p>
                    <p> Dengan gaya musik yang santai namun menghanyutkan, dia telah memukau banyak pendengar dengan lagu-lagu hitsnya seperti "Sepatu", "Monokrom"....</p>
                    <a href="#popupT"class="btn">Read More</a>
                  </div>

                  <div class="event-card">
                    <img src="img/event/hivi.jpg" alt="event">
                </div>
                  <div class="content">
                    <h3>Hivi</h3>
                    <p>Hivi adalah salah satu grup musik indie paling ikonik di Indonesia yang terkenal dengan lagu-lagu mereka yang menghanyutkan dan penuh semangat. </p>
                    <p>Dengan harmoni yang indah dan lirik yang mengena, mereka telah menciptakan pengalaman musik yang tak terlupakan bagi para pendengar mereka....</p>
                    <a href="#popupH"class="btn">Read More</a>
                  </div>

                  <div class="event-card">
                    <img src="img/event/rf.jpg" alt="event">
                </div>
                  <div class="content">
                    <h3>Rizky Febian</h3>
                    <p>Siap-siap untuk menyaksikan penampilan fenomenal dari salah satu bintang pop Indonesia terbesar, Rizki Febian!</p>
                    <p>Bergabunglah dengan kami dalam konser "Rizki Febian" dan rasakan getaran emosi yang tak tertandingi dari setiap not musik yang dibawakan oleh Rizki....</p>
                    <a href="#popupRF"class="btn">Read More</a>
                  </div>
                  
            </div>
        </section>

        <div class="popup" id="popupT">
            <div class="popcont">
              <div class="popimg">
                <img src="img/event/popupT.jpg" alt="event">
                <a href="#" class="popclose">&times;</a>
              </div>
              <div class="popheader" id="popupT">
                <h1>Tulus</h1>
                <h2> "Menemani Malam dengan Suara Merdu dan Lagu-lagu Penuh Makna"</h2>
                <h3>Tanggal: 28-Juni-2024</h3>
                <h3>Waktu: 19:00 WIB - 21:00 WIB</h3>
                <p>Tulus adalah salah satu penyanyi dan penulis lagu terkemuka di Indonesia yang terkenal dengan suara merdunya dan lagu-lagu yang penuh makna. Dengan gaya musik yang santai namun menghanyutkan, dia telah memukau banyak pendengar dengan lagu-lagu hitsnya seperti "Sepatu", "Monokrom", dan "Baru".
                  Dapatkan pengalaman yang tak terlupakan dengan hadir di konser "Tulus"! </p>
              </div>
            </div>

        </div>

        <div class="popup" id="popupH">
          <div class="popcont">
            <div class="popimg">
              <img src="img/event/popupH.jpg" alt="event">
              <a href="#" class="popclose">&times;</a>
            </div>
            <div class="popheader" id="popupH">
              <h1>Hivi</h1>
              <h2> "Merayakan Malam dengan Musik Indie yang Memukau"</h2>
              <h3>Tanggal: 15-Juli-2024</h3>
              <h3>Waktu: 19:00 WIB - 21:00 WIB</h3>
              <p>Hivi adalah salah satu grup musik indie paling ikonik di Indonesia yang terkenal dengan lagu-lagu mereka yang menghanyutkan dan penuh semangat. Dengan harmoni yang indah dan lirik yang mengena, mereka telah menciptakan pengalaman musik yang tak terlupakan bagi para pendengar mereka.
                Bergabunglah dengan kami dalam sebuah perjalanan musik yang luar biasa di konser "Hivi"! Nikmati malam yang penuh kegembiraan dan inspirasi dengan suasana musik yang dipenuhi energi dan antusiasme. Bersama-sama dengan ribuan penggemar, mari rayakan keajaiban musik indie dalam sebuah pertunjukan yang spektakuler.</p>
            </div>
          </div>

      </div>

      <div class="popup" id="popupRF">
        <div class="popcont">
          <div class="popimg">
            <img src="img/event/popupRF.jpg" alt="event">
            <a href="#" class="popclose">&times;</a>
          </div>
          <div class="popheader" id="popupRF">
            <h1>Rizki Febian</h1>
            <h2> "Malam yang Penuh Pesona dengan Suara Merdu dan Lagu-lagu Berkelas"</h2>
            <h3>Tanggal: 10-Agustus-2024</h3>
            <h3>Waktu: 19:00 WIB - 21:00 WIB</h3>
            <p>Siap-siap untuk menyaksikan penampilan fenomenal dari salah satu bintang pop Indonesia terbesar, Rizki Febian! Dengan suara merdunya dan lagu-lagu yang sarat makna, Rizki Febian siap mengajak Anda dalam perjalanan musik yang tak terlupakan.
              Bergabunglah dengan kami dalam konser "Rizki Febian" dan rasakan getaran emosi yang tak tertandingi dari setiap not musik yang dibawakan oleh Rizki Febian. Suara emasnya akan mengalun memenuhi ruang konser dan menghipnotis pendengar dengan lirik-lirik yang mengena.</p>
          </div>
        </div>

    </div>
      <script>
        feather.replace();
      </script>
</body>
</html>