:root {
  --primary: #684725;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem, 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1.5px solid #573e24;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #f8e4cf;
  font-style: italic;
  padding-left: 2rem;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-ext {
  padding-right: 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ext a {
  color: #fff;
  margin: 0 0.4rem;
}

.navbar .navbar-ext a:hover {
  color: var(--primary);
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 3%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active{
  transform: scaleY(1);
}

#shopping-cart-button{
  position: relative;
}

#shopping-cart-button .notifItem{
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: white;
  transition: 0.3s;
}

.shopping-cart.active{
  right: 0;
}

.shopping-cart .cart-item{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img{
  height: 5rem;
  border-radius: 50%;
}

.shopping-cart h3{
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price{
  font-size: 1.2rem;

}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.shopping-cart h4 {
  font-size: 1.5rem;
  margin-top: -1rem;
  text-align: center;
}

/* Checkout */
.form-checkout{
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
}

.form-checkout h5{
  text-align: center;
  font-size: 1.2rem;
}

.form-checkout form{
  text-align: center;
  width: 100%;
}

.form-checkout label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-checkout span {
  text-align: right;
}

.form-checkout input {
  background-color: rgb(197, 197, 197);
  padding: 5px;
  font-size: 1.2rem;
  width: 70%;
}

.form-checkout .checkout-button {
  padding: 10px 18px;
  background-color: var(--primary);
  color: #f8e4cf;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

.form-checkout .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}

/* navbar */
.navbar .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .searchForm label{
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

button {
  position: relative;
  border: none;
  transition: 0.4s ease-in;
  z-index: 1;
}

button::before,
button::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.menuKami {
  padding: 5rem 6% 1rem;
}

.menuKami h2,
.menuKami h5 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.7rem;
  color: var(--primary);
}

.menuKami h5 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.7rem;
  color: var(--primary);
}

.menuKami h2 span {
  color: #f8e4cf;
}

.menuKami h2 {
  margin-bottom: 1rem;
}

.menuKami p {
  text-align: center;
  max-width: 28rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menuKami .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.menuKami .row .menu-card {
  text-align: center;
  padding: 1rem;
}

.menuKami .row .menu-card img {
  border-radius: 50%;
  width: 90%;
  cursor: pointer;
}

.menuKami .row p {
  font-size: 1.3rem;
  font-weight: 200;
}

.menuKami .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.5rem;
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    padding-bottom: 3.5rem;
  }
  
  footer .social {
    padding: 1rem 0;
  }
  
  footer .social a {
    color: #fff;
    margin: 1rem;
    font-size: 2rem;
  }
  
  footer .social a:hover {
    color: #222;
  }
  
  footer .credit {
    font-size: 2rem;
  }
  
  footer .credit a {
    color: #222;
    font-weight: 700;
  }
